@media screen and (min-width: 1900px) {
    .project-research::before,
    .project-research::after {
        height: 150px
    }
}

@media screen and (max-width: 1260px) {
    header {
        display: none;
    }
    .resume-section {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50px repeat(5, 1fr);
        margin: 0 25px;
    }
    .resume-section h1 {
        grid-column: 1/span 2;
    }
    /* Skills and abilities */
    .skills-habilities {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row: 3/span 4;
        height: fit-content;
    }
    /* langage skills */
    .langage-skills {
        height: 200px;
        grid-column: 1/span 1;
        grid-row: 5/span 5;
    }
    /*  Hobbies and interests */
    .hobbies-interests {
        align-items: center;
        justify-items: center;
        grid-column: 1/span 1;
        grid-row: 6/span 6;
        height: 100px;
    }
    /* Education jobs */
    .education-jobs {
        grid-column: 2/span 2;
    }
    /* Award */
    .award {
        grid-row-start: 7;
        grid-row-end: 7;
        grid-column-start: 1;
        grid-column-end: 1;
        height: 100px;
    }
    .project-research {
        padding-left: 20px;
    }
}

@media screen and (max-width: 975px) {
    .about_resume {
        width: 150px;
    }
}

@media screen and (max-width: 706px) {
    .resume-section {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }
    .resume-section h1 {
        order: 1;
    }
    .about-me {
        order: 2;
        height: auto;
    }
    .education-jobs {
        order: 3;
    }
    .skills-habilities {
        order: 4;
    }
    .langage-skills {
        order: 5;
    }
    .award {
        order: 6;
    }
    .hobbies-interests {
        order: 7;
    }
    .project-items {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        justify-content: space-between;
    }
    .project-research {
        margin-top: 200px;
        padding-left: 10px;
        overflow: auto;
    }
}