:root {
    --color-primary: #104041;
    --color-secondary: rgba(16, 64, 65, 0.7);
    --color-default: /*#f2f2f7*/
    white;
    --color-third: #6c7094;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-weight: 400;
}

body {
    font-size: 16px;
    font-family: 'Helvetica Neue', Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #333;
    line-height: 1.6;
    position: relative;
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--color-default);
}


/* Header nav */

header {
    display: grid;
    position: fixed;
    width: 220px;
    height: 550px;
    z-index: 2;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    margin-top: 20px;
    align-items: center;
    background-color: var(--color-default);
}

header nav ul li {
    padding: 10px 25px;
}

.menu-item:hover {
    border: 1px solid var(--color-primary);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 7px 10px;
    border-radius: 20px;
    color: var(--color-default);
    align-content: center;
    background-color: var(--color-primary);
}


/* header social */

.avatar {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    border-radius: 5px;
}

.avatar img {
    width: 150px;
    height: 210px;
    margin-top: 3px;
}

.social {
    margin-top: 10px;
    display: grid;
    justify-content: center;
    flex-direction: row;
}

.social span {
    font-size: 12px;
    font-weight: 600;
    justify-self: center;
}

.social ul {
    display: grid;
    position: relative;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.social .fas {
    color: var(--color-primary);
}

.social .fas:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.social .fab {
    color: var(--color-primary);
}

.social .fab:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.social li {
    border: none;
    padding: 20px;
}


/* start-section */

.start-section {
    display: grid;
    justify-content: center;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/christopher-gower-m_HRfLhgABo-unsplash.jpeg) no-repeat center center;
    min-height: 100vh;
    width: 100%;
    z-index: -1;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.me {
    margin-top: 100px;
    display: grid;
    padding: 20px;
    background-color: var(--color-secondary);
    height: 100px;
    width: 450px;
    color: var(--color-default);
    text-align: center;
}

.me h4 {
    font-weight: 300;
}

.horizontal_menu {
    height: fit-content;
    width: fit-content;
    gap: 100px;
}

.about_resume {
    display: flex;
    flex-direction: row;
    color: var(--color-default);
    justify-content: space-around;
    padding-top: 20px;
    width: 200px;
    height: 70px;
    background-color: var(--color-secondary);
    border: 1px var(--color-primary) solid;
    border-radius: 50px;
    transition: all 0.3s linear;
    cursor: pointer;
}
.about_resume a {
    cursor: pointer;
}

.about_resume .fas {
    display: none;
}

.about_resume:hover {
    background-color: var(--color-primary);
}

.about_resume:hover .fas {
    display: block;
}

.about_resume>select {
    margin-bottom: 20px;
    cursor: pointer;
    background-color: transparent;
    border-style: none;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 1em;
}

.about_resume>select>option {
    font-weight: 700;
    font-size: 1em;
    background-color: var(--color-primary);
}


/* Resume */

.resume-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px repeat(3, 1fr);
    margin-left: 250px;
    gap: 50px;
    opacity: 0;
    padding-top: 100px;
    animation: showText2 0.5s 1s linear forwards;
}

.resume-section h1 {
    font-weight: 100;
    font-size: 3em;
    justify-self: center;
    align-self: center;
    grid-column: 1/span 3;
    grid-row: 1/span 1;
}


/* About me */

.about-me {
    height: 300px;
    grid-column: 1/span 1;
    grid-row: 2/span 2;
}

.about-me p {
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
}


/* langage skills */

.langage-skills {
    height: 300px;
    grid-column: 1/span 1;
    grid-row: 3/span 3;
}

.french span {
    width: 95%;
}

.french span::after {
    content: "95%";
}

.english span {
    width: 80%;
}

.english span::after {
    content: "80%";
}


/*  Hobbies and interests */

.hobbies-interests {
    align-items: center;
    justify-items: center;
    grid-column: 1/span 1;
    grid-row: 4/span 4;
}

.hobbies {
    width: 250px;
    height: 300px;
}


/* Skills and abilities */

.skills-habilities {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row: 2/span 2;
    width: 100%;
}

.pharo span {
    width: 95%;
}

.pharo span::after {
    content: "95%";
}

.java span {
    width: 80%;
}

.java span::after {
    content: "80%";
}

.analysis span {
    width: 85%;
}

.analysis span::after {
    content: "85%";
}

.html span {
    width: 70%;
}

.html span::after {
    content: "70%";
}

.mysql span {
    width: 95%;
}

.mysql span::after {
    content: "95%";
}

.angular span {
    width: 60%;
}

.angular span::after {
    content: "60%";
}

.ci span {
    width: 95%;
}

.ci span::after {
    content: "95%";
}

.flutter span {
    width: 60%;
}

.flutter span::after {
    content: "60%";
}

.docker span {
    width: 40%;
}

.docker span::after {
    content: "40%";
}


/* Education jobs */

.education-jobs {
    grid-row: 2/span 4;
    grid-column: 3/span 3;
}

.timeline {
    position: relative;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: var(--color-secondary);
    top: 0;
    bottom: 0;
    margin-left: -3px;
}

.timeline-event {
    padding: 15px 30px;
    display: grid;
    position: relative;
    width: 400px;
    background-color: inherit;
    /* width: calc(100%-6px); */
}

.timeline-event::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    left: -7.5px;
    background-color: var(--color-primary);
    border: 4px solid var(--color-primary);
    border-radius: 50%;
    top: 20px;
    z-index: 1;
}

.timeline-event .event-date {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 15px;
}

.timeline-event .event-name {
    font-size: 16px;
    font-weight: 500;
}

.event-name a {
    color: var(--color-third);
}

.timeline-event .event-description {
    font-size: 12px;
    font-weight: 500;
    display: block;
}

.timeline-event .event-description a {
    color: var(--color-third);
}

.timeline-event a {
    color: var(--color-third);
}


/* Award */

.award {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 2;
    height: 250px;
}

.award-item {
    display: grid;
    grid-template-columns: 50px 1fr;
}


/*---------------------- project -------------------------------- */


/* project research */

.project-research {
    background-color: var(--color-primary);
    position: relative;
    padding-left: 250px;
    padding-bottom: 50px;
}


/*.project-research::before,
.project-research::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -100px;
    right: 0;
    left: 0;
    background-color: var(--color-default);
    transform: skewY(-3deg);
    transform-origin: left;
    --webkit-transform: skewY(-3deg);
    --webkit-transform-origin: left;
    --moz-transform: skewY(-3deg);
    --moz-transform-origin: left;
    --ms-transform: skewY(-3deg);
    --ms-transform-origin: left;
}*/

.project-research h1 {
    color: var(--color-default);
    align-self: center;
    justify-self: center;
    font-weight: 100;
    font-size: 3em;
}

.project-research .project-items {
    column-gap: 30px;
}

.project-research .project-item a {
    padding-top: 10px;
    margin-top: 30px;
    border: 2px solid var(--color-default);
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
}

.project-research .project-item a:hover {
    box-shadow: 5px 5px 10px rgba(252, 252, 252, 0.2);
}

.project-research .project-item p {
    color: var(--color-default);
    font-weight: 300;
}

.project-item h2 {
    color: var(--color-default);
    font-weight: 300;
}


/* procject engineering */